<h1 mat-dialog-title>Create Tenant</h1>
<div mat-dialog-content>
  <p>Create a new tenant</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <p *ngIf="tenantCreated">
    Tenant created successfully!
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="createTenant()" class="save-button" #createButton>  <mat-icon>save</mat-icon> Save Tenant</button>
  <button mat-button mat-dialog-close class="cancel-button"> <mat-icon>close</mat-icon> Close dialog</button>
</div>
