html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-heading {
    color: #03a9f4;
}

.no-spacing {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    margin: 10px;
}