#creat-user-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  margin: 10px;
}

.tenant-list-item {
  min-height: 95px !important;
  margin-top: 15px
}

.action-delete {
  color: #e57373
}