#creat-user-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.container {
  margin: 10px;
}

.user-card {
  max-height: 490px;
  width: 100%;
  overflow-x: hidden ;
  overflow-y: auto;
}

.no-spacing {
  margin: 1px !important;
  padding-bottom: 3px !important;
}

.truncate {
  white-space: nowrap;
  width: 170px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-card-content{
  width: 100%;
}

.user-card-image {
  height: 200px;
  width: 90%;
  object-fit: cover;
}

.user-header-image {
  background-image: url('https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover;
}

.content {
  padding: 16px;
}

.edit-button {
  margin-left: 10px;
  background-color: green;
}

.close-button {
  background-color: #f44336 ;
}